<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yss.report.bitool.mapper.DashboardDatasetMapper">
  <resultMap id="BaseResultMap" type="com.yss.report.bitool.entity.DashboardDataset">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="*Entity_DATASET_ID" jdbcType="NUMERIC" property="datasetId" />
    <result column="*Entity_USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="*Entity_CATEGORY_NAME" jdbcType="VARCHAR" property="categoryName" />
    <result column="*Entity_DATASET_NAME" jdbcType="VARCHAR" property="datasetName" />
    <result column="*Entity_CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="*Entity_UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="*Entity_DATA_JSON" jdbcType="CLOB" property="dataJson" />
  </resultMap>
</mapper>