<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yss.report.bitool.mapper.DashboardUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.yss.report.bitool.entity.DashboardUserRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="*Entity_USER_ROLE_ID" jdbcType="NUMERIC" property="userRoleId" />
    <result column="*Entity_USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="*Entity_ROLE_ID" jdbcType="VARCHAR" property="roleId" />
  </resultMap>
</mapper>