<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yss.report.bitool.mapper.DashboardBoardMapper">
  <resultMap id="BaseResultMap" type="com.yss.report.bitool.entity.DashboardBoard">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="*Entity_BOARD_ID" jdbcType="NUMERIC" property="boardId" />
    <result column="*Entity_USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="*Entity_CATEGORY_ID" jdbcType="NUMERIC" property="categoryId" />
    <result column="*Entity_BOARD_NAME" jdbcType="VARCHAR" property="boardName" />
    <result column="*Entity_CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="*Entity_UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="*Entity_LAYOUT_JSON" jdbcType="CLOB" property="layoutJson" />
  </resultMap>
</mapper>