<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yss.report.bitool.mapper.DashboardRoleMapper">
  <resultMap id="BaseResultMap" type="com.yss.report.bitool.entity.DashboardRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="*Entity_ROLE_ID" jdbcType="VARCHAR" property="roleId" />
    <result column="*Entity_ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="*Entity_USER_ID" jdbcType="VARCHAR" property="userId" />
  </resultMap>
</mapper>